<section class="body-orders">
    <section class="btn-groupR">
        <button (click)="getOrderFilter('pending')">Pending</button>
        <button (click)="getOrderFilter('delivering')">Done</button>
    </section>
    <section class="group-cards">
        <div class="card-record" *ngFor="let itemOrder of orders">
            <header>
                <p>State: <span id="state" class="state">{{itemOrder.status}}</span></p>
                <p>Table: <span>2</span></p>
                <p>User: <span id="idUser" class="id-user">{{itemOrder.client}}</span></p>
                <p>{{itemOrder.dateEntry}}</p>
            </header>
            <table>
                <tr style="color: green; font-weight: bold;">
                    <td>Cant</td>
                    <td>Product</td>
                    <td>Price</td>
                </tr>
                <tr *ngFor="let product of itemOrder.products">
                    <td>{{product.qty}}</td>
                    <td>{{product.product.name}}</td>
                    <td>S/.{{product.product.price * product.qty}}</td>
                </tr>
            </table>    
            <section class="btn-end">
                <button *ngIf="showMoveButton" (click)="changeStatus(itemOrder)">Delivered</button>
                <p>S/. <span class="price-record" >{{totalBill(itemOrder._id)}}</span></p>
            </section>
        </div>
        
    </section>
</section>
