@import '../../../../styles.scss';

.body-orders{
    display: flex;
    font-family: $fontText;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .group-cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 15px 15px;
    }
}
.card-record{
    width: 100%;
    background-color: white;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    cursor: pointer;
    border-radius: 20px;
    padding: 20px;
    &:hover{
        transform: scale(1.03);
    }
}