<section class="body-orders">
    <section class="btn-groupR">
        <button>Pending</button>
        <button>Done</button>
    </section>
    <section class="group-cards">
        <div class="card-record">
            <header>
                <p>State: <span id="state" class="state">Pending</span></p>
                <p>User: <span id="idUser" class="id-user">Fulanita López</span></p>
                <p>12/02/1997 00:10</p>
            </header>
            <table>
                <tr>
                    <td>Cant</td>
                    <td>Product</td>
                    <td>Price</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Hamburger</td>
                    <td>S/. 120.00</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Hamburger</td>
                    <td>S/. 120.00</td>
                </tr>
            </table>
            <section class="btn-end">
                <button>Delivered</button>
                <p>S/. <span class="price-record">240.00</span></p>
            </section>
        </div>
        <div class="card-record">
            <header>
                <p>State: <span id="state" class="state">Pending</span></p>
                <p>User: <span id="idUser" class="id-user">Fulanita López</span></p>
                <p>12/02/1997 00:10</p>
            </header>
            <table>
                <tr>
                    <td>Cant</td>
                    <td>Product</td>
                    <td>Price</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Hamburger</td>
                    <td>S/. 120.00</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Hamburger</td>
                    <td>S/. 120.00</td>
                </tr>
            </table>
            <section class="btn-end">
                <button>Delivered</button>
                <p>S/. <span class="price-record">240.00</span></p>
            </section>
        </div>
    </section>
</section>
