@import '../../../../assets/scss/card-mixins';

.body-orders{
    @include containerBody;
    .btn-groupR{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 20px;
        button{
            background-color: $oro;
            padding: 10px 40px;
            border: none;
            font-family: $fontText;
            border-radius: 10px;
            cursor: pointer;
            &:hover{
                transform: $scala;
            }
        }
    }
    .group-cards{
        @include cardGroup;
    }
}
.card-record{
    @include card;
    table{ 
        background-color: rgb(240, 247, 240);
    }
    .btn-end{
        justify-content: space-evenly;
        button{
            background-color: $verde;
            color: rgb(0, 163, 0);
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}