@import './../../../../styles.scss';

@mixin flexElement {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-orders{
    display: grid;
    grid-gap: 20px;
}
.container-tickets{
    display: flex;
    flex-direction: column;
    justify-self: center;
    row-gap: 15px;
    font-family: $fontText;
    .user-name{
        display: flex;
        justify-content: center;
        align-items: center;
        input{
            border-radius: 10px;
            padding: 5px 15px;
            border: 1px solid rgba(0,0,0,0.5);
            font-family: $fontText;
        }
    }
}
.btn-group{
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    button{
        width: 35%;
        background-color: $bg-nav;
        color: white;
        cursor: pointer;
        font-family: $fontText;
        font-weight: 800;
        font-size: 18px;
        padding: 5px 25px;
        line-height: 40px;
        border: none;
        border-radius: 15px 30px 15px 30px;
        &:hover{
            transform: scale(1.03);
        }
    }
}
.body-tickets{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px;
    row-gap: 10px;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 235, 235)/**/;
    width: 100%;
    min-width: 652px;
    height: 40vh;
    min-height: 20vh;
    overflow-y: scroll;
    .card{
        figure{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        width: 100%;
        max-width: 155px;
        border-radius: 20px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 20px;
        background-color: white;
        box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        cursor: pointer;
        &:hover{
            box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
        }
        .card-img{
            width: 80%;
        }
        .card-body{
            display: flex;
            flex-direction: column;
            align-items: center;
            .price-card{
                color: $bg-logo;
                font-weight: bold;
            }
        }
    }
}
.container-out{
    @include flexElement;
    .card-out{
        width: 100%;
        max-width: 95%;
        margin: 0 auto;
        background-color: red;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .container-table{
            width: 100%;
            background-color:#fafafa;
            border: 1px solid rgb(206, 206, 206);
            box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
            font-family: $fontText;
            font-size: 18px;
            table{
                width: 100%;
                tr{
                    text-align: center;
                    td{
                        line-height: 2.5em;
                    }
                }
                .head-table{
                    background-color: #EDF2F7;
                    color: #4A5568;
                }
            }
        }
    }
}
.btn-more, .btn-remove{
    border-radius: 50%;
    padding: 8px;
    border:none;
    background-color: #E2E2E0;
    cursor: pointer;
    &:hover{
        transform: scale(1.03);
        background-color: $bg-logo;
    }
}
@media screen and (min-width: 1366px){
    .container-orders{
        grid-template-columns: repeat(2,1fr);
    }
    .body-tickets{
        height: 50vh;
    }
} 