<section class="container-orders">
    <section class="container-tickets">
        <div class="btn-group">
            <button class="btn-bkf"  (click)="getProductsFilter('desayuno')">Breakfast</button>
            <button class="btn-menu"  (click)="viewButton()" >Menu</button>
        </div>
        <div class="btn-group" *ngIf="viewB">
            <button class="btn-bkf" (click)="getProductsFilter('menú')">Burgers</button>     
            <button class="btn-bkf" (click)="getProductsFilter('acompañamientos')">Snacks</button>
            <button class="btn-bkf" (click)="getProductsFilter('Para tomar')">Drink</button>
        </div>

        <div class="body-tickets">
            <div class="card" *ngFor="let item of products" (click)="buttonAdd(item)">                 
                <figure>
                    <img class="card-img" src="./../../../../assets/img/burger1.png" alt="">
                </figure>
                <div class="card-body">
                    <h3>{{item.name}}</h3>
                    <p>150g<p>
                    <p class="price-card">S/. <span class="price">{{item.price}}</span></p>
                </div>
            </div>
        </div> 
    </section>
    <app-list-orders class="app-list-order"></app-list-orders>
</section>
