<section class="container-orders">
    <section class="container-tickets">
        <div class="user-name">
            <input placeholder="Name user" type="text">
        </div>
        <div class="btn-group">
            <button class="btn-bkf">Breakfast</button>
            <button class="btn-menu">Menu</button>
        </div>
        <div class="body-tickets">
            <div class="card">
                <figure>
                    <img class="card-img" src="./../../../../assets/img/burger1.png" alt="">
                </figure>
                <div class="card-body">
                    <h3>Hamburger</h3>
                    <span>150g</span>
                    <span>S/. 150.00</span>
                </div>
            </div>
            <div class="card">
                <figure>
                    <img class="card-img" src="./../../../../assets/img/burger1.png" alt="">
                </figure>
                <div class="card-body">
                    <h3>Hamburger</h3>
                    <span>150g</span>
                    <span>S/. 150.00</span>
                </div>
            </div>
            <div class="card">
                <figure>
                    <img class="card-img" src="./../../../../assets/img/burger1.png" alt="">
                </figure>
                <div class="card-body">
                    <h3>Hamburger</h3>
                    <span>150g</span>
                    <span>S/. 150.00</span>
                </div>
            </div>
            <div class="card">
                <figure>
                    <img class="card-img" src="./../../../../assets/img/burger1.png" alt="">
                </figure>
                <div class="card-body">
                    <h3>Hamburger</h3>
                    <span>150g</span>
                    <span>S/. 150.00</span>
                </div>
            </div>
            <div class="card">
                <figure>
                    <img class="card-img" src="./../../../../assets/img/burger1.png" alt="">
                </figure>
                <div class="card-body">
                    <h3>Hamburger</h3>
                    <span>150g</span>
                    <span>S/. 150.00</span>
                </div>
            </div>
        </div>
    </section>
    <section class="container-out">
        <div class="card-out">
            <div class="container-table">
                <table>
                    <tr class="head-table">
                        <td>Quantity</td>
                        <td>Product</td>
                        <td>Price</td>
                        <td>Delete</td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button"><span class="material-icons">add</span></button>
                            01
                            <button type="button"><span class="material-icons">remove</span></button>
                        </td>
                        <td>Descripción product</td>
                        <td>S./ 120.00</td>
                        <td><span class="material-icons">delete</span></td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button"><span class="material-icons">add</span></button>
                            01
                            <button type="button"><span class="material-icons">remove</span></button>
                        </td>
                        <td>Descripción product</td>
                        <td>S./ 120.00</td>
                        <td><span class="material-icons">delete</span></td>
                    </tr>
                </table>
                <div class="total-product">
                    <span>Total</span>
                    <span>S/. 120.00</span>
                </div>
            </div>
        </div>
    </section>
</section>
