<section class="modal" *ngIf="showUser">
    <div class="overlay"></div>
    <div class="modal_content">
    <div class="ctn-edit-user" >
        <h2>{{title}}</h2>
        <form class="form" [formGroup]="addUser" (ngSubmit)="saveUser()">
            <input formControlName="email" required type="email" placeholder="Email">
            <input formControlName="password" type="password" placeholder="Password">
            <select name="roles" class="select-rol">
              <option disabled selected>Admin</option>
              <option>Yes</option>
              <option>No</option>
              </select>
          <div class="cancel-save">
            <button type='button' (click)="closeModalUser()" class="cancel">Cancel</button>
            <button type="submit" class="save">Add</button>
          </div>
        </form>
    </div>
    </div>
  </section>
  <!-- <section class="modal">
    <div class="overlay"></div>
    <div class="modal_content">
    <div class="ctn-edit-user" >
        <h2>Delete User</h2>
        <div class="form">
            <h5 class="nameDelete" id="modal-delete">If you delete this user, you will not be able to recover it.</h5>
          <div class="cancel-save">
            <button type='button' class="cancel" >Cancel</button>
            <button type='button' class="save">Delete</button>
          </div>
        </div>
    </div>
    </div>
</section> -->
