@mixin container {
    width: 100%;
    min-height: 100vh;
    padding-top: 80px;
    background-image: linear-gradient(to bottom right, #ffffff, #f5f5f5);
    .row{
        width: 100%;
        max-width: 85%;
        margin: 0 auto;
    }
}
@mixin mediaContainer {
    .row{
        max-width: 1360px;
     }
}