@import '../../../../assets/scss/card-mixins';

.body-orders{
    @include containerBody;
    .group-cards{
        @include cardGroup;
    }
}
.card-record{
    @include card;
    table{ 
        background-color: #b0bff57a;
    }
    .btn-end{
        justify-content: space-evenly;
        button{
            background-color: #829CFB;
        }
    }
}