<section class="body-orders">
    <section class="group-cards">
        <div class="card-record" *ngFor="let itemOrder of orderList | filter: 'pending'">
            <header>
                <p *ngIf="itemOrder.status != 'canceled'">State: <span id="state" class="state">{{itemOrder.status}}</span></p>
                <p *ngIf="itemOrder.status == 'canceled'">State: <span style="color: rgb(0, 168, 0);" id="state" class="state">{{itemOrder.status}}</span></p>
                <p>User: <span id="idUser" class="id-user">{{itemOrder.client}}</span></p>
                <p>{{itemOrder.dateEntry}}</p>
            </header>
            <table>
                <tr style="color: rgb(27, 21, 46); font-weight: bold;">
                    <td>Cant</td>
                    <td>Product</td>
                    <td>Price</td>
                </tr>
                <tr *ngFor="let product of itemOrder.products">
                    <td>{{product.qty}}</td>
                    <td>{{product.product.name}}</td>
                    <td>S/. {{product.product.price * product.qty}}</td>
                </tr>
            </table>
            <section class="btn-end">
                <button *ngIf="itemOrder.status=='pending'" (click)="onChangeStatus(itemOrder)">Done</button>
                <p>S/. <span class="price-record">{{itemOrder._id | priceTotal : orderList}}</span></p>
            </section>
        </div>
    </section>
</section>
