<section class="body-orders">
    <section class="group-cards">
        <div class="card-record" *ngFor="let itemOrder of orderDone | filter: statusCanceled">
            <header>
                <p>State: <span id="state" style="text-transform: capitalize; color: black;" class="state">{{itemOrder.status}}</span></p>
                <p>User: <span id="idUser" class="id-user">{{itemOrder.client}}</span></p>
                <p>{{itemOrder.dateProcessed}}</p>
            </header>
            <table>
                <tr style="color: green; font-weight: bold;">
                    <td>Cant</td>
                    <td>Product</td>
                    <td>Price</td>
                </tr>
                <tr *ngFor="let prod of itemOrder.products">
                    <td>{{prod.qty}}</td>
                    <td>{{prod.product.name}}</td>
                    <td>S/. {{prod.product.price}}</td>
                </tr>
            </table>
        </div>
    </section>
</section>
