
<section class="modal" *ngIf="visibleDelete">
    <div class="overlay"></div>
    <div class="modal_content">
    <div class="ctn-edit-user" >
        <h2>Delete User</h2>
        <div class="form">
            <h5 class="nameDelete" id="modal-delete">If you delete this user, you will not be able to recover it.</h5>
          <div class="cancel-save">
            <button type='button' class="cancel" (click)="closeModalDelete()" >Cancel</button>
            <button type='button' class="save">Delete</button>
          </div>
        </div>
    </div>
    </div>
</section>