
        <div class="user-name">
            <input placeholder="Name user" type="text">
        </div>
        <div class="card-out">
            <section class="container-table">
                <table>
                    <tr class="head-table">
                        <td>Quantity</td>
                        <td>Product</td>
                        <td>Price</td>
                        <td>Delete</td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn-more" type="button"><span class="material-icons">add</span></button>
                            01
                            <button class="btn-remove" type="button"><span class="material-icons">remove</span></button>
                        </td>
                        <td>product</td>
                        <td>S./price</td>
                        <td><button class="del"><span class="material-icons">delete</span></button></td>
                    </tr>
                </table>
                <section class="total-product">
                    <p>Total</p>
                    <p class="total-price">S/. 240.00</p>
                </section>
                <section class="group-btn-make">
                    <button style="background-color: #ffbf00;" class="btn-make">Order</button>
                    <button style="background-color: #EF2626;" class="btn-cancel">Cancel</button>
                </section>
            </section>
        </div>


