@import './../../../../styles.scss';

$oro :#ffbf00;
$verde: #8FDE7B;
$scala: scale(1.03);

@mixin flexElement {
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-name{
        display: flex;
        justify-content: center;
        align-items: center;
        input{
            border-radius: 10px;
            padding: 5px 15px;
            border: 1px solid rgba(0,0,0,0.5);
            font-family: $fontText;
        }
        p {
            color: red;
            font-size: 12px;
            align-self: flex-start;
            margin: 0;
          }
    }
    
.card-out{
        width: 100%;
        max-width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .container-table{
            width: 100%;
            background-color:#fafafa;
            border: 1px solid rgb(206, 206, 206);
            box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
            font-family: $fontText;
            color: rgb(63, 63, 63);
            font-size: 18px;
            table{
                width: 100%;
                tr{
                    text-align: center;
                    td{
                        line-height: 2.5em;
                    }
                }
                .head-table{
                    background-color: #EDF2F7;
                    color: #4A5568;
                }
            }
        }
        .total-product{
            display: flex;
            justify-content: space-evenly;
            padding: 20px 0px;
            border-bottom: 1px solid rgb(230, 230, 230);
            .total-price{
                color: rgb(39, 197, 39);
                font-weight: 700;
            }
        }
        .group-btn-make{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: 10px 0px;
            button{
                padding: 10px 35px;
                font-family: $fontText;
                font-size: 15px;
                border: none;
                border-radius: 5px;
                color: $fontText;
                box-shadow: 5px 5px 5px rgba(0,0,0,.1);
                cursor: pointer;
                &:hover{
                    transform: $scala;
                }
            }
        }
    }

.del{
    border-radius: 5px;
    color: white;
    background-color: rgb(163, 14, 14);
    border: none;
    cursor: pointer;
    padding: 5px;
    &:hover{
        transform: $scala;
    }
}
.btn-more, .btn-remove{
    border-radius: 50%;
    padding: 8px;
    border:none;
    background-color: #E2E2E0;
    cursor: pointer;
    &:hover{
        transform: $scala;
        background-color: $verde;
    }
}
@media screen and (min-width: 1366px){
    .container-orders{
        grid-template-columns: repeat(2,1fr);
    }
    .body-tickets{
        height: 50vh;
    }
} 