<div class="table-staff margin-bt">
    <table class="table">
      <thead>
        <tr class="titles">
          <th class="num">N°</th>
          <th>Name</th>
          <th>Price</th>
          <th>Type</th>
          <th>Date Creation</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>001</td>
          <td>Hamburger</td>
          <td>S/10.00</td>
          <td>Menu</td>
          <td>30/05/2021</td>
          <td class="edit-delete">
            <button class="edit" (click)="mostrarModalEditProduct()">Update</button>
            <button class="delete" (click)="mostrarModalDeleteProduct()">Delete</button>
          </td>
        </tr>
        <tr>
            <td>001</td>
            <td>Hamburger 2</td>
            <td>S/10.00</td>
            <td>Menu</td>
            <td>30/05/2021</td>
            <td class="edit-delete">
              <button class="edit" (click)="mostrarModalEditProduct()">Update</button>
              <button class="delete" (click)="mostrarModalDeleteProduct()">Delete</button>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
  <div class="app">
    <app-modal-edit-products [visibleEditProduct]="myModalEditProduct" (close)="cerrarModalEditProduct($event)" ></app-modal-edit-products>
    <app-modal-delete-products [visibleDeleteProduct]="myModalDeleteProduct" (close)="cerrarModalDeleteProduct($event)"></app-modal-delete-products>
  </div>


