<div class="table-staff margin-bt">
    <table class="table">
      <thead>
        <tr class="titles">
          <th class="num">N°</th>
          <th>Name</th>
          <th>Price</th>
          <th>Type</th>
          <th>Date Creation</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of products">
          <td>{{item._id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.price}}</td>
          <td>{{item.type}}</td>
          <td>{{item.dateEntry}}</td>
          <td class="edit-delete">
            <button class="edit" (click)="mostrarModalProduct(item)" >Update</button>
            <button class="delete"  (click)="mostrarModalProductDelete()">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="app">
    <app-modal [visibleProducts]="myModalProduct" [objProd2] = "objProd" (close)="cerrarModalProduct($event)" ></app-modal>
    <app-modal [visibleProductsDelete]="myModalProduct2"  (close)="cerrarModalProduct($event)"></app-modal>
  </div>


