$colors: (
  add:#FFC839,
  secundary: #323232,
);
$font2: 'Poppins', sans-serif;
.section-add{
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    font-family:  $font2;
    .title-user{
      font-size: 13px;
      color:map-get($colors, 'secundary');
    }
    .input-search{
    padding: 2px 10px;
    font-size: 18px;
    font-family:$font2 ;
    border-radius: 5px;
    border:1px solid grey ;
    }
   

}
.div-add{
  display: flex;
  column-gap: 20px;
}
.add-user{
    padding: 10px 15px;
    background: map-get($colors, 'add');
    font-size: 15px;
    font-family:$font2 ;  
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 5px rgba(0,0,0,.2);
    cursor: pointer;
    &:hover{
      transform: scale(1.03);
    }
}