<section class="login-container" style="background-image: url(../../../assets/img/fondo.svg); background-size: cover;">
    <header>
        <h1>Burger<span class="color-queen">Queen</span></h1>
    </header>
    <main class="container-login">
    <section class="img-login">
        <img src="../../../assets/img/loginburger.svg" alt="">
    </section>
    <section class="form-container">
        <h3>Welcome</h3>
        <form #formLogin= "ngForm" (ngSubmit)="login()" class="login-form">
            <div class="div-input">
                <span class="material-icons">person_outline</span>                    
                <input type="text" [(ngModel)]= "user.email" name="email" required placeholder="Email">
            </div>
            <div class="div-input">
                <span class="material-icons">lock</span>
                <input type="password" [(ngModel)]= "user.password" name="password" placeholder="Password">
            </div>
            <button class="log-in" type="submit">LOGIN</button>
        </form>
    </section>
    </main>
</section>