@import '../../../styles.scss';

@mixin flexElement {
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container{
    width: 100%;
    height: 100vh;
}
header{
    text-align: center;
    line-height: 8em;
    h1{
        font-family: $fontLogo;
        font-size: 62px;
        color:#323232;
    }
    .color-queen{
        color: #EF2626;
    }
}
.container-login{
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    display: grid;
    grid-gap: 20px;
    .img-login{
        @include flexElement;
        img{
            width: 80%;
        }
    }
}
.form-container{
    justify-self: center;
    flex-direction: column;
    @include flexElement;
    margin-bottom: 50px;
    h3{
        font-family: $fontText;
        font-size: 30px;
        font-weight:bold;
        color:#323232;
    }
}
.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    .div-input{
        width: 100%;
        position: relative;
        span{
            position: absolute;
            color: grey;
            bottom: 25%;
            left: 5px;
        }
        input{
            padding: 5px 30px;
            font-family: $fontText;
            font-size: 18px;
        }
    }
}
.log-in{
    width: 100%;
    padding: 5px 25px;
    font-family: $fontText;
    font-size: 18px;
    color:white;
    background-color: #EF2626;
    outline: none;
    border: none;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    cursor: pointer;
}
@media screen and (max-width: 414px){
    header{
        h1{ font-size: 2em; }}
}
@media screen and (min-width: 1024px){
    .container-login{
        .img-login{
            img{
                width: 50%;
            }
        }
    }
}
@media screen and (min-width: 1500px){
    .container-login{
        height: calc( 100vh - 180px);
        grid-template-columns: repeat(2,1fr);
        .img-login{
            img{ width: 80%; }
        }
    }
}