<div class="table-staff margin-bt">
    <table class="table">
      <thead>
        <tr class="titles">
          <th class="num">N°</th>
          <th>Email</th>
          <th>Password</th>
          <th>Rol</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of usersAdmin; index as i">
          <td>{{i+1}}</td>
          <td>{{user.email}}</td>
          <td>{{user.password}}</td>
          <td>{{user.roles.admin ? "Admin": "Staff"}}</td>
          <td class="edit-delete">
            <button class="edit" (click)="showEdit(user)">Update</button>
            <button class="delete" (click)="showDelete(user)">Delete</button>
          </td>
        </tr>    
      </tbody>
    </table>
</div>
<app-modal-user [editUser]="myModalEdit" (close)="closeEdit($event)"
 [deleteUser]="myModalDelete" [title]="title" [userI]="user">
</app-modal-user>