<div class="table-staff margin-bt">
    <table class="table">
      <thead>
        <tr class="titles">
          <th class="num">N°</th>
          <th>Email</th>
          <th>Password</th>
          <th>Rol</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prod of products">
          <td>{{prod.name}}</td>
          <td></td>
          <td>123456789</td>
          <td>Administrador</td>
          <td class="edit-delete">
            <button class="edit" (click)="mostrarModalEdit()">Update</button>
            <button class="delete" (click)="mostrarModalDelete()">Delete</button>
          </td>
        </tr>    
      </tbody>
    </table>
  </div>
  <div class="app">
    <app-modal-edit [visibleEdit]="myModalEdit" (close)="cerrarModalEdit($event)" ></app-modal-edit>
    <app-modal-delete [visibleDelete]="myModalDelete" (close)="cerrarModalDelete($event)"></app-modal-delete>
  </div>


