<section class="modal" *ngIf="visibleAddProducts">
    <div class="overlay"></div>
    <div class="modal_content">
    <div class="ctn-edit-user" >
        <h2>Add Product</h2>
        <div class="form">
          <input type="text" placeholder="Name Product" name="NameProduct">
          <input type="text" placeholder="Price" >
          <select name="typeProduct" class="select-product">
            <option>Menu</option>
            <option>Desayunos</option>
            </select>
            <input type="date" placeholder="Date Creation">
          <div class="cancel-save">
            <button type='button' class="cancel" (click)="closeModalAddProducts()">Cancel</button>
            <button type='button' class="save">Add</button>
          </div>
        </div>
    </div>
    </div>
  </section>

