@import '../../../../../../assets/scss/modal-mixins';

.modal {
  @include modal;
  }  
  .modal .overlay {
    @include modaloverlay;
  }
  .modal .modal_content {
    @include modalmodalcontent;

    div.ctn-edit-user {
      @include divctn-edit-user;
      .form {
        input {
          height: 30px;
          width: 90%;
          border-radius: 8px;
          border: 1px solid #47382b;
          margin: 2%;
          padding: 1%;
          text-align: center;
        }
        .select-product{
            height: 30px;
            width: 90%;
            border-radius: 8px;
            border: 1px solid #47382b;
            margin: 2%;
            padding: 1%;
            text-align: center; 
        }
        ::placeholder {
          padding: 10px;
        }
  
        div.cancel-save {
          @include divcancel-save;
        }
      }
    }  
  }
    
  .modal .modal_content .buttons_wrapper {
    padding: 20px;
  }
  .modal .close_modal {
    @include modalclose_modal;
  }
  .modal .close_modal:hover {
    opacity: 0.9;
  }