 <nav class="nav">
    <div class="burger">
      <div class="line-burger"></div>
    </div>
  </nav>
  <nav class="nav-waiter">
    <div class="logo-waiter">
        <h1>Burger<span class="colorh1">Queen</span></h1>
    </div>
    <ul class="linkNav-waiter">
        <li class="link-active" routerLinkActive="active"><a [routerLink]="['usercatalogoadmin']" href="">Users</a></li>
        <li class="link-active" routerLinkActive="active"><a [routerLink]="['productoscatalogoadmin']" href="">Products</a></li>
        <li class="li-btn"><button (click)="logOut()" class="btn-sign" [routerLink]="['login']">Log Out</button></li>
    </ul>
</nav>